<a href="https://colab.research.google.com/github/Adh101/TechAxis-Data-Science-with-Python-Notes/blob/main/Conditional_and_Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Conditional Statements in Python**

1. **If Else statements (Single Condition)**

  Syntax:

          If(condition):
               statement 1
          else:
              statement 2

2. **If-elif-else Statements (Multiple Conditions)**

  Syntax:

        If(condition 1):
              statement 1
        elif(condition 2):
              statement 2
        else:
              statement 3
  - You can put multiple elifs if you have multiple conditions to execute.

In [5]:
#if-else

#variable
x = 0

if(x>0):
  print("x is positive")
else:
  print("x is zero or negative")

x is zero or negative

In [6]:
#if-elif-else

if(x>0):
  print("x is positive")
elif(x==0):
  print("x is zero")
else:
  print("x is negative")

x is zero

**Problems:**

1. ***Declare a variable x and print "Even" if it is divisible by 2 , otherwise print "Odd".***

2. ***Declare a variable called "marks" and print "Grade A" if it is greather than 90, "Grade B" if it is greater than 70 but less than or equal to 90, print "Grade C" if it is greater than 50 but less than or equal to 70, otherwise print "Grade D".***

In [8]:
#problem 1

x = 10
if(x%2==0):
  print("Even")
else:
  print("Odd")

Even

In [9]:
#problem 2

marks= 80
if(marks > 90):
  print("Grade A")
elif(marks > 70 and marks <=90):
  print("Grade B")
elif(marks > 50 and marks <=70):
  print("Grade C")
else:
  print("Grade D")

Grade B

In [10]:
#Guess the output of the following code

marks= 50
if(marks > 60):
  print("Good")
else:
  print("Improve")

Improve

In [11]:
if(5>9):

  print("Fan")

elif(5!=9):

  print("Glass")

else:
  print("Cream")

Glass

# **Looping Constructs**
- Looping is used in Python to exectute the block of code repeatedly.

**Types of Loops:**
  1. While loop
  
    Syntax:
          while expressions:
               statement

Sample Example:
 *Print "Hello World", 1000 times.*

        count = 0
        while(count < 1000):
          count = count + 1
          print("Hello World")

In [12]:
#print 5 times
count= 0
while(count < 5):
  count= count +1
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [15]:
#using else with while loop
count= 3
while(count < 5):
  count= count +1
  print("Hello World")
else:
  print("Not applicable")

Hello World
Hello World
Not applicable

2. For Loop:

  Syntax:

        for iterator in sequence:
                statements
  
  Sample Example: Print "Hello World", 1000 times.
          for i in range(1000):
              print("Hello World")

In [16]:
#print 10 times

for i in range(10):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [19]:
# Iterating over a list
print("List Iteration")
l = ["apple", "mango", "grapes"]
for i in l:
	print(i)

List Iteration
apple
mango
grapes

In [20]:
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("apple", "mango", "grapes")
for i in t:
	print(i)

Tuple Iteration
apple
mango
grapes

In [21]:
# Iterating over a String
print("\nString Iteration")
s = "Apple"
for i in s:
	print(i)

String Iteration
A
p
p
l
e

In [22]:
# Iterating over dictionary(key:value pairs)
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d:
	print("%s %d" % (i, d[i]))

Dictionary Iteration
xyz 123
abc 345

In [23]:
dict = {'xyz':123,'abc':345}
for i in dict:
	print("%s %d" % (i, d[i]))

xyz 123
abc 345

In [24]:
# Iterating over a set
print("\nSet Iteration")
set1 = {1, 2, 3, 4, 5, 6}
for i in set1:
	print(i),

Set Iteration
1
2
3
4
5
6

In [25]:
#using else with for loop
l = ["apple", "mango", "grapes"]
for i in l:
	print(i)
else:
  print("End of the list")

apple
mango
grapes
End of the list

3. Nested Loop:

    Syntax:
    - Nested For Loops
          for iterator in sequence:
            for iterator in sequence:
                statements(s)
            statements(s)

    - Nested While Loops
          while expression:
            while expression:
                  statement(s)
            statement(s)

In [ ]:
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

**Problems:**

***1. Write a loop to print all the numbers between 10 and 50.***

***2. Write a loop to print all the odd numbers between 10 and 50.***

In [ ]:
#all the numbers between 10 and 50
num = 11
while(num <= 49):
  print(num)
  num=num+1

In [ ]:
for i in range(11,50):
  print(i)

In [ ]:
#all odd numbers between 10 and 50
odd_num = 11
while(odd_num <= 49):
  print(odd_num)
  odd_num =odd_num +2

In [ ]:
for i in range(11,50,2):
  print(i)