<a href="https://colab.research.google.com/github/Adh101/TechAxis-Data-Science-with-Python-Notes/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures in Python

**Existing Data Structures:** *int,float, str, bool, double*

**Problems with existing data types:**



*  Data in variable can only be stored in single format. i.e either int or str or decimals
*  Too many variables creation to store multiple data types, causing use of large space in memory.

*   Unable to store large structure of data


To solve this problems, Python have two data structures:


1.   Lists

2.   Dictionaries

**Lists:**
- ordered data structures where elements are spearated by comma(,) inside the square brackests [ ].

For example:
        
        num_list = [1,2,3,4,5] #single datatype list
        str_list = [ "I","love", "Python"]

        mixed_list = [1,"I","love",3,"lists"] #mixed datatype list

In [ ]:
#create a list

mixed_list = [1,"Python",2,"is",3,"awesome"]

In [ ]:
type(mixed_list)

list

In [ ]:
type(mixed_list[1])

str

**Sub-setting the list:**
- Accessing the elements in the lists,
- Elements are stored with their index, index starts from 0.

In [ ]:
mixed_list

[1, 'Python', 2, 'is', 3, 'awesome']

In [ ]:
mixed_list[1] #returns Python

'Python'

In [ ]:
mixed_list[0]

1

In [ ]:
#to extract sequence of elements
mixed_list[2:4]

[2, 'is']

In [ ]:
mixed_list[0:3]

[1, 'Python', 2]

In [ ]:
#to extract the element using negative index
mixed_list[-1]

'awesome'

In [ ]:
mixed_list[-2]

3

**Adding elements to the lists:**

In [ ]:
mixed_list

[1, 'Python', 2, 'is', 3, 'awesome']

In [ ]:
#to modify elements
mixed_list[4] = 5
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome']

In [ ]:
#to add single element
mixed_list.append(6)
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome', 6]

In [ ]:
mixed_list.append("Hello")
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome', 6, 'Hello']

In [ ]:
#to add multiple elements
mixed_list.extend([7,8])

In [ ]:
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome', 6, 'Hello', 7, 8]

In [ ]:
mixed_list.extend(['Good morning','everyone'])
mixed_list

[1,
 'Python',
 2,
 'is',
 5,
 'awesome',
 6,
 'Hello',
 7,
 8,
 'Good morning',
 'everyone']

In [ ]:
#adding list to a list

list1 = [1,2,3,4,5]

In [ ]:
list1.append([7,8])

In [ ]:
list1

[1, 2, 3, 4, 5, [7, 8]]

In [ ]:
list1[5]

[7, 8]

**Deleting elements from a list:**

In [ ]:
mixed_list

[1,
 'Python',
 2,
 'is',
 5,
 'awesome',
 6,
 'Hello',
 7,
 8,
 'Good morning',
 'everyone']

In [ ]:
#deleting elements by value
mixed_list.remove('everyone')
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome', 6, 'Hello', 7, 8, 'Good morning']

In [ ]:
mixed_list.remove('Good morning')
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome', 6, 'Hello', 7, 8]

In [ ]:
#deleting elements by index
del mixed_list[9]
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome', 6, 'Hello', 7]

In [ ]:
del mixed_list[6:]

In [ ]:
mixed_list

[1, 'Python', 2, 'is', 5, 'awesome']

**Looping over a list:**

In [ ]:
for i in mixed_list:
  print(i)

1
Python
2
is
5
awesome

**Dictionaries:**

- unordered data structures with key:value pairs, inside { } brackets,

      dict = {'key':value,'key':value,'key':value}

Why dictionaries?

- Sometimes we do not want or need our data in a sequence,
- We want to access our data by names, not by index.

In [6]:
#creating the dictionaries
dict1 = {'John':90,'Sam':80,'Harry':75,'Mike':95} #where values are numbers

dict2 = {'John':[90,80],'Sam':[80,90],'Harry':[75,80],'Mike':[95,70]} #values are lists

In [1]:
marks = {'name':['ram','hari'],'age':[24,25],'roll':[10,12]}
marks

{'name': ['ram', 'hari'], 'age': [24, 25], 'roll': [10, 12]}

In [7]:
dict1

{'John': 90, 'Sam': 80, 'Harry': 75, 'Mike': 95}

In [8]:
dict2

{'John': [90, 80], 'Sam': [80, 90], 'Harry': [75, 80], 'Mike': [95, 70]}

**Accessing the elements in the lists:**

- Elements are accessed by keys rather than index.
- Will give error, if tried to acess using index.

In [ ]:
#accessing the elements in the lists
dict2['Sam']

[80, 90]

In [ ]:
dict2['Mike']

[95, 70]

**Adding elements to dictionary:**

In [ ]:
#adding single element at once
dict2['Jack'] = [65,80]
dict2

{'John': [90, 80],
 'Sam': [80, 90],
 'Harry': [75, 80],
 'Mike': [95, 70],
 'Jack': [65, 80]}

In [2]:
marks

{'name': ['ram', 'hari'], 'age': [24, 25], 'roll': [10, 12]}

In [4]:
marks['name']= 'shyam'
marks

{'name': 'shyam', 'age': [24, 25], 'roll': [10, 12]}

In [9]:
dict2

{'John': [90, 80], 'Sam': [80, 90], 'Harry': [75, 80], 'Mike': [95, 70]}

In [ ]:
#adding multiple elements at once
dict2.update({'Ram':[50,60],'Kamal':[78,73]})
dict2

{'John': [90, 80],
 'Sam': [80, 90],
 'Harry': [75, 80],
 'Mike': [95, 70],
 'Jack': [65, 80],
 'Ram': [50, 60],
 'Kamal': [78, 73]}

**Deleting elements from Dictionaries:**

In [ ]:
del dict2['John']
dict2

{'Sam': [80, 90],
 'Harry': [75, 80],
 'Mike': [95, 70],
 'Jack': [65, 80],
 'Ram': [50, 60],
 'Kamal': [78, 73]}

In [ ]:
del dict2['Kamal']
dict2

{'Sam': [80, 90],
 'Harry': [75, 80],
 'Mike': [95, 70],
 'Jack': [65, 80],
 'Ram': [50, 60]}

In [10]:
dict2

{'John': [90, 80], 'Sam': [80, 90], 'Harry': [75, 80], 'Mike': [95, 70]}

In [11]:
for i in dict2:
  print(i)

John
Sam
Harry
Mike

In [18]:
for a,b in dict2.items():
  print(f"{a,b}")

('John', [90, 80])
('Sam', [80, 90])
('Harry', [75, 80])
('Mike', [95, 70])

**Tuples:**

- Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers.
- Separated by commas inside square () brackets

In [ ]:
#creating a tuple
tuple1 = (1,2,3,"Python","awesome")

In [ ]:
type(tuple1)

tuple

In [19]:
#creating tuple from list
list1 = [1, 2, 4, 5, 6]
print(tuple(list1))

(1, 2, 4, 5, 6)

In [22]:
tuple2 = tuple(list1)
type(tuple2)

tuple

In [29]:
my_num_list = [1,2,3,4,5]

In [30]:
new_tuple = tuple(my_num_list)

In [31]:
type(new_tuple)

tuple

In [32]:
list4 = [1,2,3,4]
tuple4 = tuple(list4)
type(tuple4)

tuple

In [25]:
tuple2[0]

1

In [26]:
tuple2[2]

4

Tuples are immutable and hence they do not allow deletion of a part of it. The entire tuple gets deleted by the use of del() method.

In [27]:
del tuple2[0]

TypeError: ignored

**Sets:**

- is an unordered collection data type that is iterable, mutable and has no duplicate elements.
- Python sets cannot have a duplicate value and once it is created we cannot change its value.

In [33]:
#creating sets
var = {"Hello", "for", "Hello"}
type(var)

set

In [34]:
var

{'Hello', 'for'}

In [35]:
var[1]

TypeError: ignored

In [36]:
var[1] = "Hi"
print(var) #gives error as cant change the values of sets once created.

TypeError: ignored