<a href="https://colab.research.google.com/github/Adh101/TechAxis-Data-Science-with-Python-Notes/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
print("Function class")

Function class

# Functions


*   Functions are reusable piece of code.
*   Created for solving specific problem.

**Two types of functions:**


*   Built-in Functions:
        - Fucntions already provided by Python
        - print(), range(), min(), max(), etc
*   User Defined Functions:
        - Functions defined by the users themselves to solve the specific problems.
        - Eg: Fuctions to calculate area of a circle , Area_of_circle()


**Syntax:**
          
            def function_name(arguments):
                    statement 1
                    statement 2
                    statement 3
                    ...........
                    ...........
                    return statement

In [16]:
#function to calculate area of a circle

def area_of_circle(radius):
  area = 3.14 * radius * radius
  return area

In [18]:
area_of_circle(5)

78.5

In [19]:
area_of_circle(10)

314.0

In [28]:
r = float(input("Enter radius: "))
print("Area of the given circle is : ", area_of_circle(r))

Enter radius: 5.5
Area of the given circle is :  94.985

**Practice Problems:**


1.   Create a function that take two numbers as argument and returns the greater number between them.
2.   Create a functions that square the given number.

In [8]:
def compare(a,b):
  if(a>b):
    greater = a
  elif(b==a):
    greater ="Two numbers are equal"
  else:
    greater = b
  return greater

In [9]:
compare(10,10)

'Two numbers are equal'

In [10]:
compare(50,10)

50

In [11]:
def squared_number(num):
  square = num **2
  return square

In [12]:
squared_number(5)

25

**Variable/ Arbitrary Arguemnts in Function**
 *args

In [21]:
#Arbitrary/ Variable Arguments:
def sum_all(*args):
  total = 0
  for num in args:
    total = total + num
  return total

In [22]:
sum_all(1,2,3,4,5,6)

21

In [23]:
sum_all(7,8,9)

24

In [26]:
#keyword arguments
def number_kwarg(**number):
    print('My number is: ' + number['integer'] + 'My other number: ' + number['integer2'])

In [27]:
number_kwarg(integer = '2309', integer2 = '349')

My number is: 2309My other number: 349

In [24]:
def display_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [25]:
display_info(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York